/build/
/.dart_tool
/.dart_tool
/android/.gradle/7.6.3/executionHistory
/.dart_tool
/android/.gradle
/.dart_tool
/android/.gradle
lib/firebase_options.dart
firebase.json
android/app/google-services.json
